* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffeeb2;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.logo a {
  font-size: 30px;
  font-family: "Bangers", system-ui;
}

.logo,
.title h2 {
  color: #035303;
}

header a {
  font-size: 20px;
  color: #035303;
}

header a:hover {
  color: green;
}

button {
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.container {
  background-color: #feda5e;
  width: 100%;
  max-width: 2000px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.login-area {
  width: 500px;
  background-color: #ffeeb2;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
  background-color: #00d500;
  width: 100%;
  position: absolute;
  top: 0;
}

.img-area {
  margin-right: -50px;
}

.img-area img {
  width: 650px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.log-area {
  text-align: center;
}

.log-area a:hover {
  color: #0000ff;
}

@media (max-width: 1120px) {
  .img-area img {
    width: 400px;
  }
}

@media (max-width: 930px) {
  .img-area {
    display: none;
  }
  main {
    width: 100%;
  }
  .login-area {
    padding: 0;
    width: 90%;
  }
}

@media (max-width: 400px) {
  .login-area {
    margin-top: 50px;
  }
}
